<div class="landing-container spooky-background">
    <h1 class = "landing-title spooky-title">Grimwood Grand Hotel Dashboard</h1>
    <p class="landing-subtitle">Where the guests Check In... But Don't Always Check Out</p>

    <div class="landing-buttons">
        <a class="landing-btn spooky-btn" href="/bookings">Booking Management</a>
        <a class="landing-btn spooky-btn" href="/staff_members">Staff Management</a>
    </div>
</div>





